{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ page.content }}
			<div id="issuehead">
			<img src="user/pages/images/isrlogo-sq.png" class="index-logo"><h1>ISSUE ONE</h1>
			<div id="categories">
			<h3><a href="#infoviz">info viz</a></h3>
			<h3 class="sep">&middot;</h3>
			<h3><a href="#lis">LIS</a></h3>
			<h3 class="sep">&middot;</h3>
			<h3><a href="#hci">hci</a></h3>
			<h3 class="sep">&middot;</h3>
			<h3><a href="#socio">business & society</a></h3>
			</div>

			</div>
		</div>




		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3">
			<div id="infoviz">
				<h3>info viz</h3>

				{% for post in taxonomy.findTaxonomy({'tag':'infoviz'}) %}
						<div class="articulo">
						    <a href="{{ post.url }}"><img class="indexthumb" src="{{ post.header.header_image }}"></a>
						    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						    <span class="byline">{{ post.header.author.name }}</span>
						    <span class="by-org">{{ post.header.author.org }}</span>
					    </div>
				{% endfor %}

            </div>
            <div id="lis">
	            <h3>Library &amp; Information Science (LIS)</h3>

					{% for post in taxonomy.findTaxonomy({'tag':'is'}) %}
						<div class="articulo featured">
						    <a href="{{ post.url }}"><img class="indexthumb" src="{{ post.header.header_image }}"></a>
						    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						    <span class="byline">{{ post.header.author.name }}</span>
						    <span class="by-org">{{ post.header.author.org }}</span>
					    </div>
					{% endfor %}


            </div>
            <div id="hci">
				<h3>Human-Computer Interaction (HCI)</h3>

					{% for post in taxonomy.findTaxonomy({'tag':'HCI'}) %}
						<div class="articulo">
						    <a href="{{ post.url }}"><img class="indexthumb" src="{{ post.header.header_image }}"></a>
						    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						    <span class="byline">{{ post.header.author.name }}</span>
						    <span class="by-org">{{ post.header.author.org }}</span>
					    </div>
					{% endfor %}
				

            </div>
            <div id="socio">
				<h3>Business &amp; Society</h3>

				{% for post in taxonomy.findTaxonomy({'tag':'social issues'}) %}
					<div class="articulo">
					    <a href="{{ post.url }}"><img class="indexthumb" src="{{ post.header.header_image }}"></a>
					    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
					    <span class="byline">{{ post.header.author.name }}</span>
					    <span class="by-org">{{ post.header.author.org }}</span>
				    </div>
				{% endfor %}
				

            </div>
			</div>
			<div id="sidebar" class="block size-1-3 pure-u-1-3">
				{% include 'partials/sidebar.html.twig' with {'blog':page} %}
			</div>
		</div>
	{% endblock %}

{% endembed %}

<script>
// from http://stackoverflow.com/questions/17534661/make-anchor-link-go-some-pixels-above-where-its-linked-to
$(document).ready(function () {
    $('a').on('click', function (e) {
        // e.preventDefault();

        var target = this.hash,
            $target = $(target);

       $('html, body').stop().animate({
        'scrollTop': $target.offset().top-100
    }, 900, 'swing', function () {
    });

        console.log(window.location);

        return false;
    });

});
</script>


